
<DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hábitos Gamificado{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2>Projeto Hábitos Gamificado</h2>
        <hr>
    </header>
    <nav class="navbar">
    <a href="/">📋 Meus Hábitos</a>
    <a href="/criar_habito">➕ Novo hábito</a>
</nav>

    <main>
        {%block content %}{% endblock %}
    </main>
</body>
</html>
</DOCTYPE>