{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Bem-vindo, {{ nome }}!</h1>

<p>Você tem {{ total_habitos }} hábitos.</p>

<h2>Últimos hábitos</h2>
<ul>
  {% for h in habitos %}
    <li><strong>{{ h[1] }}</strong> — {{ h[2] }}</li>
  {% else %}
    <p>Nenhum hábito criado ainda.</p>
  {% endfor %}
</ul>

<a href="/criar_habito">+ Criar novo hábito</a><br><br>
<a href="/habitos">Ver todos os meus hábitos</a><br><br>
<a href="/logout">Sair</a>
{% endblock %}
