
{% extends "base.html" %}

{% block content %}
<h1>Meus Hábitos</h1>

<a class="btn" href="/criar_habito">+ Criar novo hábito</a>

<ul class="lista-habitos">
    {% for h in habitos %}
        <li class="habito-item">
            <strong>{{ h[1] }}</strong><br>
            <small>{{ h[2] }}</small><br><br>

            {% if h[3] == 1 %}
                <p class="feito-hoje">✔ Feito hoje</p>
            {% endif %}

            <a class="btn" href="/marcar/{{ h[0] }}">Marcar como feito</a>
            <a class="btn editar" href="/editar/{{ h[0] }}">Editar</a>
            <a class="btn deletar" href="/deletar_habito/{{ h[0] }}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

