{% extends "base.html" %}

{% block title %}Meus Hábitos{% endblock %}

{% block content %}
<h1>Meus Hábitos</h1>

<a href="/criar_habito">+ Criar novo hábito</a>

<ul>
    {% for h in habitos %}
        <li>
            <strong>{{ h[1] }}</strong><br>
            {{ h[2] }}<br><br>

            <a href="/marcar/{{ h[0] }}">✔ Marcar como feito hoje</a>"
            <a href="/editar/{{ h[0] }}">Editar</a> |
            <a href="/deletar_habito/{{ h[0] }}" onclick="return confirm('Tem certeza?')">Excluir</a>
        </li>
    {% else %}
        <p>Nenhum hábito criado ainda.</p>
    {% endfor %}
</ul>

{% endblock %}

